# ENV_PATH=TO_SET_ENV_FILE_PATH

PORT=8080
ENV=development
LOG_LEVEL=info
LOG_FORMAT=pretty
DATABASE_URL=postgres://kuku:kuku@localhost:5555/kuku?sslmode=disable
AUTO_MIGRATION=false

JWT_SECRET=change-me-in-development

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:8080/auth/callback/google

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=http://localhost:8080/auth/callback/github

CLIENT_SUCCESS_URL=http://localhost:4321/auth/done?success=true
CLIENT_ERROR_URL=http://localhost:4321/auth/done
CLIENT_WEB_URL=http://localhost:4321

SESSION_MAX_AGE=720h
SESSION_INACTIVITY=336h

ALLOWED_ORIGINS=http://localhost:4321,http://localhost:3000

EMAIL_PROVIDER=smtp
EMAIL_FROM_ADDRESS=noreply@kuku.mom
EMAIL_FROM_NAME=kuku
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
